{% extends "base.html" %}

{% block body %}
<div class="container">
	<p class="h1">文件管理</p>
	<div class="d-flex">
		<div class="p-1">
			<a class="btn btn-primary btn-sm" href="/listx/">首页</a>
		</div>
		<div class="p-1">
			<a class="btn btn-secondary btn-sm" href="javascript:history.go(-1);">返回上一页</a>
		</div>
		<div class="p-1 ml-auto">
			<a class="btn btn-danger btn-sm" href="{{ url_for('download', abs_path=abs_path) }}">文件打包下载</a>
		</div>
	</div>
	<hr>
	<div>
		共{{ element_num[0] + element_num[1] }}项目，包含{{ element_num[0] }}个文件夹，{{ element_num[1] }}个文件
	</div>
	<hr>

	{% for url in url_list %}
		{% if url[0] in ['file_csv', 'file_img'] %}
			- <a href="{{ url_for('open_file', file_path=url[1], url_filter=url[0]) }}">{{ url[2] }}</a><br>
		{% else %}
			- <a href="{{ url[1] }}">{{ url[2] }}</a><br>
		{% endif %}
	{% endfor %}

	{{message}}
</div>
{% endblock %}