{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>文件管理</h1>
    <a class="btn btn-primary btn-sm" href="/listx">首页</a>
    <a class="btn btn-secondary btn-sm" href="javascript:history.go(-1);">返回上一页</a>
    <hr>

    {% if file[0] == 'file_csv' %}
    <a class="btn btn-success btn-sm" href="{{ file[2][0] }}" download>下载：{{ file[1] }}</a><br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">姓名</th>
          <th scope="col">体温</th>
        </tr>
      </thead>
      {% for row in file[2][1] %}
      <tbody>
        {% if row['temp'] == '00.00' %}
        <tr class="table-danger">
        {% else %}
        <tr>
        {% endif %}
          <th scope="row">{{ row['name'] }}</th>
          <td>{{ row['temp'] }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% elif file[0] == 'file_img' %}
    <a class="btn btn-success btn-sm" href="{{ file[2] }}" download>下载：{{ file[1] }}</a><br>
    <img src={{ file[2] }} class="img-fluid">
    {% endif %}
</div>

{{message}}
{% endblock %}