{% extends "base.html" %}

{% block body %}
{% if session['status_message'] %}
	<div class="alert alert-success progress-bar-striped text-center align-middle">
		<p><h3 class="text-{{ session['status_message'][0] }}">{{ session['status_message'][1] }}</h3></p>
		<p><b>{{ session['status_message'][2][0] }}</b>，您<b class="text-danger">{{ session['status_message'][2][1] }}</b>的体温是<b class="text-danger">{{ session['status_message'][2][2] }}℃</b></p>
	</div>
	<div>
		<p><center><a class="btn btn-primary btn-lg" href="/">再次填报</a></center></p>
	</div>
	<div class="alert alert-success progress-bar-striped text-center">
		<p>如果你能看到刚才上传的照片<br>就表明上报成功了，不用重复上报<br>蓝色标签上的信息正确吗？</p>
		<img src="{{ session['status_message'][3] }}" class="img-fluid">
	</div>
{% endif %}
{% endblock %}